<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <mat-spinner *ngIf="isLoading; else showForm"></mat-spinner>
    <ng-template #showForm>
      <form (submit)="onSavePost(postForm)" #postForm="ngForm" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>Post Title</mat-label>
          <input matInput ngModel name="title" required>
          <mat-error>Title field is required</mat-error>
        </mat-form-field>

        <button class="img-btn" type="button" mat-stroked-button (click)="filePicker.click()">Pick An Image</button>
        <span class="mat-caption">please upload png,jpeg,jpg</span>
        <mat-error *ngIf="uploadHasError">{{ uploadErrorMessage }}</mat-error>
        <div *ngIf="previewImage" class="image-preview">
          <img [src]="imageUrl" height="100%" [alt]="postForm.value.title">
        </div>
        <input type="file" hidden #filePicker value="imageUrl" required ngModel name="upload" (change)="onImagePicked($event, postForm)" accept="image/*">

        <mat-form-field appearance="outline">
          <mat-label>Post Content</mat-label>
          <textarea matInput ngModel name="content" required rows="8"></textarea>
          <mat-error>Content field is required</mat-error>
        </mat-form-field>
        <button color="accent" type="submit" mat-raised-button>Save Post</button>
      </form>
    </ng-template>
  </mat-card-content>
</mat-card>
