<mat-card>
  <mat-card-title>SignUp</mat-card-title>
  <mat-card-content>
    <mat-spinner *ngIf="isLoading; else showForm"></mat-spinner>
    <ng-template #showForm>
      <form (submit)="onSignup(signupForm)" #signupForm="ngForm" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput ngModel name="email" type="email" #emailField="ngModel" required email>
          <mat-error>Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput ngModel name="password" type="password" #passwordField="ngModel" required>
          <mat-error>Enter a valid password</mat-error>
        </mat-form-field>
        <button color="accent" type="submit" mat-raised-button>Signup</button>
      </form>
    </ng-template>
  </mat-card-content>
</mat-card>
